@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:wght@100&display=swap");
@import "tailwindcss";

@theme {
  --font-secondary: "Raleway", sans-serif;
  --font-primary: "Inter", sans-serif;
  --color-accent: #f38c79;
  --color-text-primary: #4c4c4c;
  --color-secondary: #757575;
  --color-done: #75c0ae;
}

@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }

  body {
    font-family: var(--font-primary);
    color: var(--color-text-primary);
    font-weight: 100;
  }
}

@layer components {
  .item-box {
    @apply flex gap-2 p-4 py-6;
  }
}
